.header {
  position: fixed;
  top: 0;
  z-index: 1;
}

.main {
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: flex;
  gap: 12px;

  width: fit-content;
  margin: 0 auto 24px;
}
