@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+20&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --ui-color-white: 0 0% 98%;
    --ui-color-black: 0 0% 3%;

    --ui-color-dark-0: 0 0% 37.5%;
    --ui-color-dark-1: 0 0% 35%;
    --ui-color-dark-2: 0 0% 32.5%;
    --ui-color-dark-3: 0 0% 30%;
    --ui-color-dark-4: 0 0% 27.5%;
    --ui-color-dark-5: 0 0% 25%;
    --ui-color-dark-6: 0 0% 22.5%;
    --ui-color-dark-7: 0 0% 20%;
    --ui-color-dark-8: 0 0% 17.5%;
    --ui-color-dark-9: 0 0% 15%;

    --ui-color-gray-0: 0 0% 96%;
    --ui-color-gray-1: 0 0% 91%;
    --ui-color-gray-2: 0 0% 80%;
    --ui-color-gray-3: 0 0% 70%;
    --ui-color-gray-4: 0 0% 60%;
    --ui-color-gray-5: 0 0% 55%;
    --ui-color-gray-6: 0 0% 52%;
    --ui-color-gray-7: 0 0% 44%;
    --ui-color-gray-8: 0 0% 40%;
    --ui-color-gray-9: 0 0% 34%;

    --ui-color-green-0: 104 76% 95%;
    --ui-color-green-1: 102 52% 90%;
    --ui-color-green-2: 104 48% 80%;
    --ui-color-green-3: 103 47% 70%;
    --ui-color-green-4: 103 47% 61%;
    --ui-color-green-5: 103 47% 55%;
    --ui-color-green-6: 103 47% 52%;
    --ui-color-green-7: 103 48% 44%;
    --ui-color-green-8: 103 51% 39%;
    --ui-color-green-9: 104 55% 33%;

    --ui-color-deep-red-0: 354 100% 96%;
    --ui-color-deep-red-1: 356 87% 91%;
    --ui-color-deep-red-2: 356 78% 81%;
    --ui-color-deep-red-3: 356 75% 70%;
    --ui-color-deep-red-4: 357 75% 61%;
    --ui-color-deep-red-5: 357 76% 55%;
    --ui-color-deep-red-6: 356 76% 52%;
    --ui-color-deep-red-7: 356 77% 45%;
    --ui-color-deep-red-8: 355 82% 39%;
    --ui-color-deep-red-9: 352 95% 32%;

    --ui-primary-color-filled: var(--ui-color-dark-6);
    --ui-primary-color-filled-hover: var(--ui-color-green-6);
    --ui-primary-color-light: var(--ui-color-dark-3);
    --ui-primary-color-light-hover: var(--ui-color-green-3);
    --ui-primary-color-dark: var(--ui-color-dark-9);
    --ui-primary-color-dark-hover: var(--ui-color-green-9);

    --ui-pixel-size: 0.125rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  html {
    font-size: 24px;
    font-family: 'Jersey 10';
  }
  body {
    @apply bg-white text-black;
  }

  .pixel-border-base {
    position: relative;
  }

  .pixel-border-base_after {
    content: '';
    pointer-events: none;
    width: calc(100% - theme('spacing.pixel.DEFAULT') * 2);
    left: theme('spacing.pixel.DEFAULT');
    top: calc(-1 * theme('spacing.pixel.DEFAULT'));
    position: absolute;
  }

  .pixel-border-height_after {
    height: calc(100% + theme('spacing.pixel.DEFAULT') * 2);
  }

  .pixel-border-height_after__clickable {
    height: calc(100% + theme('spacing.pixel.DEFAULT') * 4);
  }

  .pixel-border-shadow__clickable {
    box-shadow:
      inset 0 calc(-1 * theme('spacing.pixel.DEFAULT')) var(--highlight),
      0 calc(2 * theme('spacing.pixel.DEFAULT')) var(--shadow),
      calc(-1 * theme('spacing.pixel.DEFAULT')) 0 var(--border-color),
      theme('spacing.pixel.DEFAULT') 0 var(--border-color),
      0 calc(-1 * theme('spacing.pixel.DEFAULT')) var(--border-color),
      calc(-1 * theme('spacing.pixel.DEFAULT'))
        calc(2 * theme('spacing.pixel.DEFAULT')) var(--border-color),
      theme('spacing.pixel.DEFAULT') calc(2 * theme('spacing.pixel.DEFAULT'))
        var(--border-color),
      0 calc(3 * theme('spacing.pixel.DEFAULT')) var(--border-color);
  }

  .pixel-border-shadow {
    box-shadow:
      inset 0 calc(theme('spacing.pixel.DEFAULT') * -1) var(--highlight),
      0 theme('spacing.pixel.DEFAULT') var(--border-color),
      calc(theme('spacing.pixel.DEFAULT') * -1) 0 var(--border-color),
      theme('spacing.pixel.DEFAULT') 0 var(--border-color),
      0 calc(theme('spacing.pixel.DEFAULT') * -1) var(--border-color);
  }

  .pixel-border-shadow_after__clickable {
    box-shadow:
      inset 0 calc(-2 * theme('spacing.pixel.DEFAULT')) var(--shadow),
      inset 0 calc(-3 * theme('spacing.pixel.DEFAULT')) var(--highlight),
      0 calc(-1 * theme('spacing.pixel.DEFAULT')) var(--border-color),
      0 theme('spacing.pixel.DEFAULT') var(--border-color),
      inset 0 theme('spacing.pixel.DEFAULT') var(--basic),
      inset 0 calc(theme('spacing.pixel.DEFAULT') * -4) var(--basic);
  }

  .pixel-border-shadow_after {
    box-shadow:
      inset 0 calc(theme('spacing.pixel.DEFAULT') * -1) var(--highlight),
      0 calc(theme('spacing.pixel.DEFAULT') * -1) var(--border-color),
      0 theme('spacing.pixel.DEFAULT') var(--border-color),
      inset 0 theme('spacing.pixel.DEFAULT') var(--basic),
      inset 0 calc(theme('spacing.pixel.DEFAULT') * -2) var(--basic);
  }

  .pixel-border {
    @apply pixel-border-base after:pixel-border-base_after after:pixel-border-height_after pixel-border-shadow after:pixel-border-shadow_after;
  }

  .pixel-border-clickable {
    @apply pixel-border-base
    after:pixel-border-base_after
    after:pixel-border-height_after__clickable
    pixel-border-shadow__clickable
    after:pixel-border-shadow_after__clickable;
  }

  .pixel-border-clickable__active {
    transform: translateY(calc(theme('spacing.pixel.DEFAULT') * 2));
    @apply after:pixel-border-height_after pixel-border-shadow after:pixel-border-shadow_after;
  }
}
