@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+20&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 99 49% 50%;
    --primary-highlight: 98 54% 72%;
    --primary-shadow: 109 39% 28%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 67% 47%;
    --destructive-foreground: 0 0% 98%;
    --destructive-highlight: 12 92% 60%;
    --destructive-shadow: 342 68% 26%;

    --disabled: 0 0% 73%;
    --disabled-foreground: 0 0% 95%;
    --disabled-highlight: 0 0% 84%;
    --disabled-shadow: 0 0% 45%;

    --border: 0 0% 3.9%;
    --border-disabled: 0 0% 38%;

    --pixel-size: 0.125rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: 'Jersey 10';
  }
  body {
    @apply bg-background text-foreground;
  }

  .pixel-border-base {
    position: relative;
  }

  .pixel-border-base_after {
    content: '';
    width: calc(100% - theme('spacing.pixel.DEFAULT') * 2);
    left: theme('spacing.pixel.DEFAULT');
    top: calc(-1 * theme('spacing.pixel.DEFAULT'));
    position: absolute;
  }

  .pixel-border-height_after {
    height: calc(100% + theme('spacing.pixel.DEFAULT') * 2);
  }

  .pixel-border-height_after__clickable {
    height: calc(100% + theme('spacing.pixel.DEFAULT') * 4);
  }

  .pixel-border-shadow__clickable {
    box-shadow:
      inset 0 calc(-1 * theme('spacing.pixel.DEFAULT')) var(--highlight),
      0 calc(2 * theme('spacing.pixel.DEFAULT')) var(--shadow),
      calc(-1 * theme('spacing.pixel.DEFAULT')) 0 var(--border-color),
      theme('spacing.pixel.DEFAULT') 0 var(--border-color),
      0 calc(-1 * theme('spacing.pixel.DEFAULT')) var(--border-color),
      calc(-1 * theme('spacing.pixel.DEFAULT')) calc(2 * var(--pixel-size))
        var(--border-color),
      theme('spacing.pixel.DEFAULT') calc(2 * theme('spacing.pixel.DEFAULT'))
        var(--border-color),
      0 calc(3 * theme('spacing.pixel.DEFAULT')) var(--border-color);
  }

  .pixel-border-shadow {
    box-shadow:
      inset 0 calc(theme('spacing.pixel.DEFAULT') * -1) var(--highlight),
      0 theme('spacing.pixel.DEFAULT') var(--border-color),
      calc(theme('spacing.pixel.DEFAULT') * -1) 0 var(--border-color),
      theme('spacing.pixel.DEFAULT') 0 var(--border-color),
      0 calc(theme('spacing.pixel.DEFAULT') * -1) var(--border-color);
  }

  .pixel-border-shadow_after__clickable {
    box-shadow:
      inset 0 calc(-2 * theme('spacing.pixel.DEFAULT')) var(--shadow),
      inset 0 calc(-3 * theme('spacing.pixel.DEFAULT')) var(--highlight),
      0 calc(-1 * theme('spacing.pixel.DEFAULT')) var(--border-color),
      0 theme('spacing.pixel.DEFAULT') var(--border-color),
      inset 0 theme('spacing.pixel.DEFAULT') var(--basic),
      inset 0 calc(theme('spacing.pixel.DEFAULT') * -4) var(--basic);
  }

  .pixel-border-shadow_after {
    box-shadow:
      inset 0 calc(theme('spacing.pixel.DEFAULT') * -1) var(--highlight),
      0 calc(theme('spacing.pixel.DEFAULT') * -1) var(--border-color),
      0 theme('spacing.pixel.DEFAULT') var(--border-color),
      inset 0 theme('spacing.pixel.DEFAULT') var(--basic),
      inset 0 calc(theme('spacing.pixel.DEFAULT') * -2) var(--basic);
  }

  .pixel-border {
    @apply pixel-border-base after:pixel-border-base_after after:pixel-border-height_after pixel-border-shadow after:pixel-border-shadow_after;
  }

  .pixel-border-clickable {
    @apply pixel-border-base
    after:pixel-border-base_after
    after:pixel-border-height_after__clickable
    pixel-border-shadow__clickable
    after:pixel-border-shadow_after__clickable;
  }

  .pixel-border-clickable__active {
    transform: translateY(calc(var(--pixel-size) * 2));
    @apply after:pixel-border-height_after pixel-border-shadow after:pixel-border-shadow_after;
  }
}
